body {
 font-size: 2rem;
}
#display {
 height: 2rem;
}
#line-one {
 padding-top: 10px;
}
#main {
 padding: 5px;
 font-size: 1rem;
  overflow: hidden;
}
div {
 text-align: center;
 padding-bottom: 4px;
}
button {
 cursor: pointer;
  border-radius: 5px;
 background-color: orangered;
 color: white;
 width: 40px;
 height: 40px;
}