body {
font-size: 2rem;
background-color: antiquewhite;
height: 100dvh;
width: 100dvw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
box-sizing: border-box;
overflow: hidden;
margin: 0 auto;
}
#display {
 height: 2rem;
}
#line-one {
 padding-top: 10px;
}
#main {
 padding: 10px;
 font-size: 1rem;
  background-color: white;
  border-radius: 15px;
}
#main p{
 font-size: 2rem;
}
input[type="text"] {
 border-radius: 7px;
 width: 83%;
 text-align: left;
 overflow: scroll;
 font-size: 24px;
}
div {
 text-align: center;
 padding-bottom: 4px;
}
button {
 cursor: pointer;
  border-radius: 5px;
 background-color: orangered;
 color: white;
 font-size: 23px;
 width: 60px;
 height: 60px;
}